html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
footer {
  margin-top: auto; /* 푸터를 항상 하단에 배치 */
}
.page {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  padding: 15px 0;
  margin: 0 auto;
  box-sizing: border-box;
}
