/* RecordList */
.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
  gap: 20px;
  box-sizing: border-box;
}
.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 10px);
  height: 180px;
  padding: 20px;
  border: 1px solid #d5d5d5;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
}
.listItem > h2 {
  margin: auto;
}
.listItem > p {
  font-size: 14px;
  margin: 10px 0 0;
}
.listItem:hover {
  color: white;
  background-color: #ffcb77;
  border: 1px solid #ffcb77;
}
.listAddItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 10px);
  height: 180px;
  padding: 20px;
  border: 1px dashed #d5d5d5;
  border-radius: 12px;
  box-sizing: border-box;
}
.plus {
  font-size: 40px;
  color: #d5d5d5;
  margin: auto;
  cursor: pointer;
}
/* RecordPage */
.recordList {
  display: flex;
  flex-direction: column;
  width: 850px;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 0;
}
.goBack {
  font-size: 24px;
  cursor: pointer;
}
.recordList > h2 {
  margin: 0 auto 20px;
}
.recordList > h3 {
  margin-top: 30px;
}
/* CurrentMonthRecord */
.tableContainer {
  max-height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #ffcb77;
  color: #fff;
  font-weight: bold;
}

.table tr {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.table tr:hover {
  background-color: #f0f0f0;
}

.dateColumn {
  text-align: left;
  font-size: 0.9em;
  width: 25%;
}

.achievementColumn {
  text-align: right;
  width: 140px;
  font-weight: bold;
  color: #ffcb77;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pageButton {
  background-color: #ffcb77;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pageButton:hover:not(:disabled) {
  background-color: #ffa500;
}

.pageButton:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 14px;
  color: #767676;
  vertical-align: middle;
}
